# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Data & artifacts
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
mlruns/
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
reports/*
!reports/.gitkeep

# Env / secrets
.env
*.env

# OS / editor
.DS_Store
.idea/
.vscode/
